In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수 선언을 위한 과정이 없다. 할당과 동시에 타입이 지정되고 값이 할당 됨.

## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [117]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 " ,area)

계산된 넓이는  78.5

In [118]:
import numpy as np
area = np.pi * r * r
print('area =', area)

area = 78.53981633974483

In [119]:
area.is_integer() # area가 integer 인지 여부 반환

False

In [120]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1583028350512
area의 타입 : <class 'float'>

In [121]:
area = 5.5
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1583001712496
area의 타입 : <class 'float'>

In [122]:
area = 10
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1582886617616
area의 타입 : <class 'int'>

In [123]:
area = "파이썬"

In [124]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 1583028542448
area의 타입 : <class 'str'>

## 1.2 변수 이름 규칙
- 문자로 시작 ( 숫자 시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글는 꼭 필요시에만 이용

In [125]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [126]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

10

In [127]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수 (j)
i = 3 + 3j # 복소수
type(i)

complex

In [128]:
isinstance(i, complex) # i변수(객체)가 complex 인지 여부

True

## 1.3 도움말

In [129]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [130]:
help() # help를 빠져나오려면 q입력

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅂ
No Python documentation found for 'ㅂ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [131]:
# 도움말 기능 : shift + tab키
print()

In [132]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x 에 10을 곱하고 y의 값을 추가한다.
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [133]:
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [134]:
a = 10
b = 20

In [135]:
a, b = 10, 20
print(a, b)

10 20

In [136]:
a, b = b, a+b # 다중 변수 할당 시 순차적 할당이 아니고, 일괄 동시 할당
print(a,b)

20 30

# 2절. 화면 입출력 (i/o)

In [137]:
# input() : 사용자로부터 값을 입력받기 위한 함수
first = input()
first

1

'1'

In [138]:
second = input('두번째 숫자는?')

두번째 숫자는?2

In [139]:
sum = int(first) + int(second)
print('합:', sum)

합: 3

In [140]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum, sep='=')

첫번째 수는?3
두번째 수는?4
합=7

In [141]:
print('합', sum, sep='=', end=' / ')
print('합', sum, sep='=')

합=7 / 합=7

In [142]:
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [143]:
import sys
sys.maxsize # 정수의 초대값 2의 63제곱-1 (2**63 -1)

9223372036854775807

In [144]:
i = sys.maxsize * 10
i
f = 4/2 # 정수/정수 는 무조건 실수
f

2.0

In [145]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 #몫 연산자
print(f)
f = int(4/2)
print(f)

2
2

In [146]:
c = 1j # 수학시간의 0+1i
print(c**2)

(-1+0j)

In [147]:
f = 1.12e12 # 1.12의 10의 12제곱
print('지수형 표현 할당시 실수형으로 저장 :', f)
f = 1.12e-12
print('지수형 표현 할당시 실수형으로 저장 :', f)

지수형 표현 할당시 실수형으로 저장 : 1120000000000.0
지수형 표현 할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
쌍따옴표("-")나 홑따옴표('-') 이용

In [148]:
name = "홍길동\"짱\"" # 홍길동"짱"
print(name)
name = '홍길동"짱"'
print(name)
address = "서울시 관악구 '신길동'" # 서울시 관악구 '신길동'
print(address)

홍길동"짱"
홍길동"짱"
서울시 관악구 '신길동'

## 문자형 변수 여러줄
text = '''여러줄 짜리 내용 
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

### ※ 문자열 연산

In [150]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 최장호
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [151]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [152]:
print(r'Hello\nWorld') # r쓰면 raw데이터 그대로 쓸 수 있다.
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-z0-9])
    \W (영문자나 숫자가 아닌 문자)
    . (문자 1개)
    \. (.의미)
    \- (-의미)
    {2, 4} (2~4번 반복) 앞의 수가 작아야 함.
    {4}    (4번 반복)
    {2,}   (2번 이상 반복)
    +      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (1번 있거나 아에 없거나)
    []     (또는)
    [a-zA-Z] (영어만 가능)
    [가-힣]  (한글만 가능)
    (  )     (괄호는 소괄호로 사용해야함)
3. 정규표현식 연습장 (https://regexr.com/)

    ex) 전화번호 : 010-9999-9999 02-000-0000 01099998888 
                   029998888 02)123-4567 010 1234 1234 010.1234.1234
    \d{2,3}[\-) .]?\d{3,4}[- .]?\d{4}
        - tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[- .]?[0-9]{4}"
    ex) 이메일 :  abc12@naver.com / abc123@0to7.co.kr
	 				abc@한국.com 			abv@ga_com
					abc@ㅎㅋ.com
        - email_pattern = r"\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"
    \w{3,}@[a-zA-Z0-9가-힣]+\.[a-zA-Z]+(\.[a-zA-Z]+)?
    \w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}
    
4. 소스 구현
```

In [153]:
import re
# 문자열에서 \ 쓰면 줄 연결 된다는 의미
data = "홍길동인데   전화번호 02-888-8888, 010 9999 9999 \
동해번쩍 서해번쩍 ㅁㅁ ㄹㄹ ㅃ \
오늘 날씨는 엄청 좋아요"
print(data)

홍길동인데   전화번호 02-888-8888, 010 9999 9999 동해번쩍 서해번쩍 ㅁㅁ ㄹㄹ ㅃ 오늘 날씨는 엄청 좋아요

In [154]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[- .]?[0-9]{4}"

In [155]:
# 해당 패턴을 다 찾아줌. 없으면 []반환
tels = re.findall(tel_pattern, data)
tels

['02-888-8888', '010 9999 9999']

In [156]:
# search() : 정규표현식 패턴과 일치하는 처음 단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [157]:
data[11:22] # 문자 슬라이싱

'호 02-888-88'

In [158]:
print('전화번호 전체 :', firstTel.group(0))
print('국번 :', firstTel.group(1))
print('중간번호 :', firstTel.group(2))
print('끝번호 :', firstTel.group(3))

전화번호 전체 : 02-888-8888
국번 : 02
중간번호 : 888
끝번호 : 8888

In [159]:
re.sub('[^가-힣0-9\s]', '', data) # 특수문자, 자음, 모음 없애기

'홍길동인데   전화번호 028888888 010 9999 9999 동해번쩍 서해번쩍    오늘 날씨는 엄청 좋아요'

In [160]:
# 파일 경로에는 반드시 r,\\, /
file_path = r"C:\ai_x\source\01_python\text.txt"
file_path = "C:\\ai_x\\source\\01_python\\text.txt"
file_path = "C:/ai_x/source/01_python/text.txt"

In [161]:
file_stream = open(file_path, 'w')
print("Hello", "world", sep=" ~ ", file=sys.stdout) # 콘솔 출력 -> file=sys.stdout 기본값이므로 없어도 됨.
print("Hello", "world", sep=" ~ ", file=file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일 저장 안됨

Hello ~ world

### ※ 문자열 슬라이싱

In [162]:
str_ = '0123456789'
str_

'0123456789'

In [163]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [164]:
str_[20] # 없는 인덱싱은 에러

IndexError: string index out of range

In [ ]:
'''
문자 변수[from:stop] : from부터 stop 앞까지 추출
문자 변수[from:stop:step] : from부터 stop 앞까지 step씩 전진하면서 추출
    step 생략시 1
    from 생략시 처음부터
    stop 생략시 끝까지
'''

In [ ]:
str_[0:5] # 0번째~5번째 앞까지

In [ ]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

In [ ]:
str_[-4:] # -4번째부터 끝까지

In [ ]:
str_[-4:20] # 슬라이싱시 인덱스 범위를 벗어나면 끝까지를 의미

In [ ]:
str_[0:8:2]

In [ ]:
str_[9:0:-1]

In [ ]:
# 첫 문자부터 ~ 6번 인덱스 까지 추출
print(str_[0:7])
# 5번 인덱스부터 끝까지 추출
print(str_[5:])
# str_ 를 거꾸로 출력 : : 콜론은 start의 처음, end는 마지막
print(str_[::-1])

## 3.3 논리형(True/False)

In [ ]:
a = True
print(a) # a : 매개변수 = parameter, 전달인자 = argument
print(type(a)) # a 변수의 타입
print(isinstance(a, bool)) # instance(변수, 타입) : 변수가 해당 타입인지 여부
b = True
print(id(a))
print(id(b))
b = a
a = False
print(id(a))
print(id(b))

In [ ]:
int(True), int(False)

In [ ]:
# False 로 간주되는 것 : 0, ""(빈스트링), None, [], (), {} 
# False 외의 값은 다   True " "
if [] :
    print('True다')
else : 
    print('False다')

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int() : 정수형으로 변환
- float() : 실수형으로 변환
- str() : 문자형으로 변환
- bool() : 논리형으로 변환

In [ ]:
int("123"), int(123.9), int(True), int("10   ")

In [ ]:
float("123.5"), float(123), float(True), float("123"), float(" 123.5 ")

In [ ]:
# int() 에러나는 것들
# int("123.5")
# int(' ')
# int('')
# int("1,000")
a = "1,111"
b = re.sub(r"[\,]", "", a)
int(b)

In [ ]:
# float() 에러나는 것들
# float("1,000.0")
# float("")
# float("  ")

In [ ]:
str(123), str(10.5), str(True), str(1.12e12), str(-1)

In [ ]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({}), bool(None)

In [ ]:
bool(" ")

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw 데이터(정규표현식, 파일경로)
3. 논리 - False 로 판별되는 경우

# 4절. 포맷팅
- 포맷팅이란? 출력할 문자, 숫자, 날짜 데이터의 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음.

## 4.1 문자열의 출력 형식 지정

In [ ]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살 입니다.', sep='')

In [ ]:
print("%s님의 나이는 %3d살 입니다"%(name, age))          # 자리수 설정이 가능하다.
    # %s: 문자, %d: 정수, %f: 실수
print(f"{name}님의 나이는 {age}살 입니다.")
print("{}님의 나이는 {:3d}살 입니다.".format(name, age)) # 자리수 설정이 가능하다.

### 4.2 format() 문법

In [ ]:
# "{[인덱스]:[정렬방식][자릿수][타입]}".format(변수)
    # 인덱스 : format함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
    # 정수자릿수 : 출력될 자릿수d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수자릿수 : 출력될 자릿수. 소수점 자릿수 f
    # 문자자릿수 : 전체 확보 될 자릿수[.변수중 출력할 자릿수]s
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백 대체 문자를 쓸 경우 정렬방식을 반드시 기입해야 함 ex) {0:_>10}

In [ ]:
name = input("이름은?")
age = int(input("나이는?"))
print("{}살 {}님 반갑습니다".format(age, name))
print("{1}살 {0}님 반갑습니다".format(name, age))
print("{1:*^4d}살 {0:_>10}님 반갑습니다".format(name, age))

In [ ]:
# 숫자의 경우 : 오른쪽 정렬(기본값)
# 문자의 경우 : 왼쪽 정렬(기본값)
# 변수보다 작은 자릿수를 지정하면 자릿수가 무시되고 다 출력(정수, 문자 자릿수)
i = 12345
s = "Hello"
print("[{}], [{:10}], [{:3}]".format(i, i, i))
print("[{}], [{:10}], [{:3}]".format(s, s, s))

In [ ]:
# 문자 : 전체 자릿수.표현될 자릿수
# 실수 : 전체 자릿수.소수점이하 표현될 자릿수
f = 2.758
s = "Hello"
print("f = {:5.2f}".format(f))
print("f = {:$^5.2s}".format(s))

In [ ]:
# + : 부호를 출력
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}], [{:5}]".format(a,b))
print("[{:=+5}], [{:+5}]".format(a,b))

In [ ]:
f = 2.785
print("[{:+10.4f}]".format(f))

In [ ]:
sign = '+'
width = 10
precision = 2
print("[{:{}{}.{}f}]".format(f, 
                             sign, 
                             width, 
                             precision))

In [ ]:
sign = '+'
width = 10
precision = 2
print("[{:{sign}{width}.{precisino}f}]".format(f, 
                             sign=sign, 
                             width=width, 
                             precision=precision))

In [ ]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))

### 4.3 날짜 출력

In [ ]:
import datetime
from datetime import datetime
now = datetime.now()
print("{}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now))
print("{:%Y년%m월%d일 %H시 %M분 %S초}".format(now))

In [ ]:
a = now.strftime('%Y년%m월%d일 %H시 %M분 %S초')
print(type(a))
print(type(now))