In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch03 데이터 구조</font>
- 리스트[], 튜플(),딕셔너리{}, SET
- 리스트 : 비슷하지 않은 값들도 다 넣을수 있다.
- 튜플 : 리스트와 비슷하지만 수정, 추가, 삭제가 불가

# 1절. 리스트
## 1.1 리스트 만들기

- [ ]를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리 할 수 있음.
- list(리스트로 변환 가능한 자료)함수 이용 가능. 매개변수 1개만 가능.
- 인덱스 : 각 요소의 위치, 0부터 시작, 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [5]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [6]:
# range(from, stop, step) : from 부터 stop 앞까지 step씩 증가하면서 지정된 범위의 정수
        # from 생략시 : 0
        # step 생략시 : 1

In [7]:
list(range(0, 10)) # 0부터 9까지 (10은 포함 X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(10, -1, -2 ))

[10, 8, 6, 4, 2, 0]

In [9]:
# 반복문(3회) -> range를 활용하는 법 때문에 알려줌
for i in range(3) :
    print(i)
print('hello')

0
1
2
hello

In [10]:
fruits = ['mango', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(3) :
    print("{}번째 과일은 {}입니다.".format(i,fruits[i]))
for fruit in range(len(fruits)) :
    print("{}번째 과일은 {}입니다.".format(fruit,fruits[fruit]))
for fruit in fruits :
    print(fruit)

0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.
mango
apple
orange
grape

In [11]:
for idx, value in enumerate(fruits) :
    print("{}번째 과일은 {}입니다.".format(idx, value))
for value in enumerate(fruits) :
    print("과일은 {}입니다.".format(value))

0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.
과일은 (0, 'mango')입니다.
과일은 (1, 'apple')입니다.
과일은 (2, 'orange')입니다.
과일은 (3, 'grape')입니다.

In [12]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1], numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True 5

In [13]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [85, 86, 82, 83],
              [70, 71, 72, 73]]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [14]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) :
        print("{}행 {}열 : {}".format(i, j, value), end='\t' )
    print() # 개행

0행 0열 : 90	0행 1열 : 91	0행 2열 : 92	0행 3열 : 93
1행 0열 : 85	1행 1열 : 86	1행 2열 : 82	1행 3열 : 83
2행 0열 : 70	2행 1열 : 71	2행 2열 : 72	2행 3열 : 73

In [15]:
ex = [[90,91,92,93],[80,81,82,83],[70,71,72,73]]
for i in ex :
    for j in i :
        print("{}".format(j), end=" ")
    print()

90 91 92 93
80 81 82 83
70 71 72 73

In [16]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100, 0],
              [9, 100, 1, 2, 3], 
              [50, 54]]

In [17]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [18]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 것
#             max() : 0번 인덱스 요소가 가장 큰 것
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [19]:
fruits = ['mango', 'apple', 'orange']
min(fruits), max(fruits)

('apple', 'orange')

In [20]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers) )
print('sorted함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합 :', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
sorted함수 사용시 리스트 내용이 바뀌지 않음 : [1, 12, 3, 5, 4]
합 : 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수 만큼 반복
append() : 맨 뒤에 요소 추가. (list 추가시 list 자체가 추가됨)
extend() : 맨 뒤에 리스트를 요소별로 추가. (list 추가 시 list 요소가 하나씩 다 추가됨)
insert(idx, 값) : idx번재 인덱스 위치에 추가(기존 데이터는 shift)
```

In [21]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [22]:
numbers = [1, 2, 3]
numbers = numbers * len(numbers)
numbers

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [23]:
numbers = [1, 2, 3]
numbers.append([5,6,7])
print(numbers)

[1, 2, 3, [5, 6, 7]]

In [24]:
num = [1, 2, 3]
num.extend([4, 5, 6])
print(num)

[1, 2, 3, 4, 5, 6]

In [25]:
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 개수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                        찾을 데이터가 없을 경우 오류
- count(찾을 데이터) : 리스트에서 찾을 데이터의 개수 반환

In [26]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [27]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [28]:
numbers.index(2, 3) # 3번째 index부터 2가  처음 나오는 index를 반환

5

In [29]:
numbers = [1, 2, 3, [ 1, 2, 3], 1, 2, 3]
if 9 in numbers : 
    print(numbers.index(9))
else : 
    print('9가 없어요')

9가 없어요

In [30]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [31]:
def safe_index(lst, data) : 
    if data in lst : # lst 안에 data 있는지 여부
        return lst.index(data)
    else :
         return -1

In [32]:
safe_index(numbers, 9)

-1

In [33]:
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출
    - [from:stop:step] from 부터 stop 앞까지 step씩 증가하는 index의 값을 추출
    - from 생략 시 처음. stop 생략 시 끝, step 생략시 1. 모두 생략 가능
    - 음수 인덱스 가능


2. <font color="red"> 리스트 컴프리헨션 </font> : 리스트에서 원하는 데이터를 추출

In [37]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수 번째 인덱스 값 출력
print(numbers[::2])
# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [43]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers :
    result.append(data)
print(result)

#리스트에서 짝수 데이터만 변수에 담아 출력하시오
result = []
for data in numbers :
    if not data%2 :
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

### 리스트컴프리헨션

In [46]:
# numbers 의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers ]

[1, 3, 5, 9, 10, 12, 13, 20]

In [51]:
# numbers 의 짝수 데이터를 리스트컴프리헨션으로 추출
[ data for data in numbers if data%2==0]

[10, 12, 20]

In [55]:
# ex1. numbers 에서 10 이상만 추출
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
[ i for i in numbers if i >= 10]

[10, 12, 13, 20]

In [56]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[i for i in fruits if len(i) > 5]

['orange']

In [58]:
# ex3. 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[ i**2 for i in L if i >= 3]

[9, 16, 25]

## 1.6 요소 수정하기

In [70]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [72]:
# 슬라이싱을 이용해서 요소 수정(step 부분이 미포함 : 부분 리스트가 전체 수정)
numbers[1:4] = ['x', 'y', 'z', 'ㅋ', 'ㅎ']
print(numbers)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[1:4] = ['x']
print(numbers)

[0, 'x', 'y', 'z', 'ㅋ', 'ㅎ', 6, 7, 8, 9]
[0, 'x', 4, 5, 6, 7, 8, 9]

In [76]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 : 요소 개수가 맞아야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = ['x'] * 6

ValueError: attempt to assign sequence of size 6 to extended slice of size 5

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트 안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [98]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))

del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [3]:
numbers = [1, 2, 3, 4, 5]
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [116]:
if 9 in numbers : 
    numbers.remove(9)
else : 
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [118]:
def safe_remove(lst, remove_data):
    if remove_data in lst :
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else :
        print(f'{remove_data}는 없는 아이템입니다.')

In [120]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다.
5 삭제 완료

In [5]:
numbers

[1, 2, 4, 5]

## 1.8 정렬하기

In [21]:
numbers = [1, 9, 5, 0, 8]
print('numbers는 변경하지 않고 정렬 : ', sorted(numbers))
print('numbers : ', numbers)

numbers는 변경하지 않고 정렬 :  [0, 1, 5, 8, 9]
numbers :  [1, 9, 5, 0, 8]

In [23]:
numbers.sort(reverse=True) # numbers 자체가 정렬한 결과로 바뀜(기본정렬 : 오름차순)
numbers

[9, 8, 5, 1, 0]

In [22]:
numbers.reverse() # numbers 자체가 역순으로 변경(정렬 X)
numbers

[8, 0, 5, 9, 1]

In [26]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [30]:
# 스칼라 데이터(하나의 값만 저장하는 데이터)의 복제
i = 10      # 원본
copy_i = i  # 복사본
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본=10, 복사본=10 / 원본주소=2793619718672, 복사본주소=2793619718672
원본=10, 복사본=99 / 원본주소=2793619718672, 복사본주소=2793619721520

In [35]:
# 리스트(배열, 데이터프레임, 딕셔너리)의 복제
numbers = [5, 6, 1]
new_numbers = numbers
# id(numbers), id(new_numbers)
new_numbers[0] = 9
print('원본 : ', numbers)
print('복제본 : ', new_numbers)

원본 :  [9, 6, 1]
복제본 :  [9, 6, 1]

In [59]:
# 얕은 복사 / 깊은 복사(복제)
# 데이터 구조에서의 복제, 스칼라 데이터는 해당 없음
# 얕은 복사 - 주소값 자체를 복사
numbers = [5, 8, 1] # 원본
new_numbers = numbers # 얕은 복사(할당)
print(f"원본={numbers},복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
print(f"원본={numbers},복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")

원본=[5, 8, 1],복제본=[5, 8, 1]
원본주소=2793720479872, 복제본=2793720479872
원본=[1, 8],복제본=[1, 8]
원본주소=2793720479872, 복제본=2793720479872

In [60]:
# 깊은 복사(복제) - 값만 복사
numbers = [5, 8, 1] # 원본
new_numbers = numbers.copy() # 깊은 복사(복제)
print(f"원본={numbers},복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.remove(-99)
print(f"원본={numbers},복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")

원본=[5, 8, 1],복제본=[5, 8, 1]
원본주소=2793744698816, 복제본=2793732942976
원본=[5, 8, 1],복제본=[1, 8]
원본주소=2793744698816, 복제본=2793732942976

In [61]:
numbers.clear() # 리스트의 요소를 모두 삭제
numbers

[]

# 2절. 튜플
- 리스트와 유사하지만, 읽기전용. 수정이 필요없는 데이터에서 사용
- 수정 불가하므로, 튜플에 데이터 수정, 추가, 삭제 불가
- (), tuple() 이용해서 생성

In [65]:
# city = ('서울', '부산', '인천', '목포')
# 파이썬은 여러개의 값이 전달될 때, 튜플 타입으로 전달
city = '서울', '부산', '인천', '목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '인천', '목포')

In [70]:
# city = ['서울', '부산', '인천', '목포']
city = '서울', '부산', '인천', '목포'
# list 자리에 넣을 곳에 tupple 넣어도 다 호환됨.
a = ' = '.join(city)

str

In [78]:
l = ['서울'] # 요소가 하나 있는 리스트
print(type(l), l)

<class 'list'> ['서울']

In [81]:
t = ('서울', ) # 요소가 하나 있는 튜플(, 반드시 기입) ' , '를 추가하지 않으면 str 으로 인식됨.
print(type(t), t)

<class 'tuple'> ('서울',)

In [318]:
numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [7]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [89]:
if 9 in numbers: 
    numbers.index(2)
else : 
    print('9 요소가 없어요')

9 요소가 없어요

In [10]:
from safe import safe_index
# def safe_index(lst, item) : 
#     """
#     lst 안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1 qksghks
#     lst : 나열 가능한 데이터
#     item : 
#     """
#     if item in lst : 
#         return lst.index(item)
#     else :
#         return -1
# #     return lst.index(item) if item in lst else -1

In [11]:
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [304]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3, 4, 5, 6)
tuple(num**2 for num in numbers if num%2 == 0)

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호{}를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료구조
- 키는 중복불가(유일한 값), 키에 list는 사용불가.
- 값은 중복 가능.
- 인덱스를 이용한 참조 지원 안함.

In [27]:
dic = {"name":"홍길동", 1:22, (1,2):[1,2]}
print(type(dic))
print(dic)
print('데이터 개수 : ', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 개수 :  3

In [38]:
my_favorite = {'fruit' : 'apple', 'number' : 12, 'sport' : 'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [39]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) # ★

apple
apple

In [45]:
# print(my_favorite['people']) # 없는 키값을 인덱스 방식으로 참조시 에러
print(my_favorite.get('people')) # 없으면 None 반환
print(my_favorite.get('people', '-')) # 없는 키를 get함수로 참조시 '-'

None
-

In [70]:
# 딕서녀리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite['fruit'] = 'mango'   # fruit 데이터 수정
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' # 데이터 추가
print('my_favorite 추가 후 :', my_favorite)
del my_favorite['fruit']
print('fruit 제거 후 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}

In [71]:
remove_data = my_favorite.pop('number') # number의 값을 반환하고 제거
print('remove_data :', remove_data)
print('number 제거 후 :', my_favorite)

remove_data : 12
number 제거 후 : {'sport': 'golf', 'people': '홍길동'}

In [72]:
# for문을 이용한 튜플(리스트) 출력
my_tup = '홍길동', 30, ('010-9999-9999')

In [78]:
for data in my_tup :
    print(data, end='\t')
print()
# for idx in range(len(my_tup)) :
#     print(f'{idx}번째 {my_tup[idx]}', end='\t')
# print()
for idx, value in enumerate(my_tup) :
    print(f'{idx}번째 {value}', end='\t')

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999

In [88]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [99]:
# 절대 비추
# for key in my_dic :
#     print(my_dic[key], end='\t')

In [108]:
for data in my_dic.values() :
    print(data, end='\t')

홍길동	30	010-9999-9999

In [105]:
print(my_dic.keys())    # key만 추출
print(my_dic.values())  # 값만 추출
print(my_dic.items())   # (key,값) 쌍을 추출

dict_keys(['name', 'age', 'tel'])
dict_values(['홍길동', 30, '010-9999-9999'])
dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [117]:
for key, value in my_dic.items():
    print(f"{key}:{value}", end='\t')

name:홍길동	age:30	tel:010-9999-9999

In [118]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [121]:
for idx, (key, value) in enumerate(my_dic.items()) :
    print("{}.{:4} : {}".format(idx+1, key, value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [122]:
"홍길동" in my_dic # my_dic.keys()

False

In [125]:
"홍길동" in my_dic.values()

True

In [130]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12}  # 원본
new_favorite = my_favorite # 같은 주소값
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [131]:
# 깊은 복사
my_favorite = {'fruit':'apple', 'number':12}  # 원본
new_favorite = my_favorite.copy() # 다른 주소값
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4. 셋(set)
- 중복을 허용하지 않는 집합(순서X == 인덱스X)
- 중괄호({}) 나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : &, |, -
- 삭제 : remove()

In [138]:
fruits = {'banana', 'orange', 'banana', 'banana', 'apple'}
print(fruits, type(fruits))

{'apple', 'banana', 'orange'} <class 'set'>

In [141]:
s1 = set([1, 20, 1, 22, 1, 21])
s1

{1, 20, 21, 22}

In [146]:
# set 함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용
my_favorite = {'fruit':'apple', 'number':12}
set(my_favorite)

{'fruit', 'number'}

## 4.1 추가하기
- add() : 기본자료형, 튜플 데이터를 하나의 요소로 추가 할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나씩 추가할 경우. dict 사용시 key만 추가

In [156]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5,6,7])
s2.update()
s2

{1, 2, 3, 4, 5, 6, 7}

In [161]:
# 논리값 False 는 0 로 인식. 0 있으면 False 추가 X, 반대도 동일
# 논리값 True  는 1 로 인식. 1 있으면 True 추가 X, 반대도 동일
s = {1, 2, 3}
s.add(True)
s.add(False)
s

{False, 1, 2, 3}

## 4.2 연산: |(합집합) &(교집합)  -(차집합)
&, | : 지밥연산자, 논리연산자, 비트연산자

In [163]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 =', s1|s2)
print('s1 & s2 =', s1&s2)
print('s1 - s2 =', s1-s2)

s1 | s2 = {1, 2, 3, 4, 5, 6, 7}
s1 & s2 = {3, 4, 5}
s1 - s2 = {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용 함수
- 리스트, 튜플

In [171]:
names = {'길자', '길동', '영자'}
for name in names : 
    print(name, end='\t')
print()
for no, name in enumerate(names) :
    print(f'{no}. {name}')

길동	영자	길자
0. 길동
1. 영자
2. 길자

In [182]:
names = ['순자', '길동', '길자']
tels = ['010-9999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']

for idx in range(len(names)) : 
    print("{}. {} - 연락처:{} 사는곳:{}".format(idx+1,
                                                names[idx], 
                                                tels[idx], 
                                                adds[idx]))

1. 순자 - 연락처:010-9999-9999 사는곳:서울
2. 길동 - 연락처:010-8888-8888 사는곳:인천
3. 길자 - 연락처:010-7777-7777 사는곳:판교

In [184]:
list(zip(names, tels, adds))

[('순자', '010-9999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [203]:
for name, tel, add in zip(names, tels, adds) :
    print(f'{name} : {tel} - {add}')

순자 : 010-9999-9999 - 서울
길동 : 010-8888-8888 - 인천
길자 : 010-7777-7777 - 판교

In [204]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '010-9999-9999', '서울')),
 (1, ('길동', '010-8888-8888', '인천')),
 (2, ('길자', '010-7777-7777', '판교'))]

In [309]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)) :
    print("{}. {} {} - {}".format(idx+1, name, tel, add))

1. 순자 010-9999-9999 - 서울
2. 길동 010-8888-8888 - 인천
3. 길자 010-7777-7777 - 판교

변수가 담을 수 있는 기본 자료형들
```
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg"
     width="300"
     style="float:left"
     >

# 6절. 연습문제
## 실습형

- 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오
numbers = [1,2,3,4,5,6,7,8,9,10]
1. 숫자 100을 맨 뒤에 추가하세요
2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
    data = [200, 300, 400, 500]
3. 처음 다섯 개 숫자만 출력하세요
4. 리스트에서 짝수 번째 데이터만 출력하세요
5. 짝수번째 데이터를 모두 0으로 바꾸세요.
6. 데이터를 역순으로 나열하세요(내림차순 정렬 아닙니다.)

In [313]:
# 1
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
print(numbers)
# 2
numbers.extend([200, 300, 400, 500])
print(numbers)
# 3
print(numbers[:5:1])
# 4
print(numbers[::2])
# 5
numbers[::2] = [0]*len(numbers[::2])
print(numbers)
# 6
print(numbers[::-1])
# numbers.reverse()
# print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9, 100, 300, 500]
[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

In [263]:
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요.
member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}

# 7
print(member_info.get("address"))

# 8
print(member_info.pop("score"))
print(member_info)

# 9
member_info["address"] = "서울시 서대문구"
print(member_info.get("address"))

# 10
print(list(member_info.items()))

서울시 마포구
90
{'name': '홍길동', 'age': 20, 'address': '서울시 마포구'}
서울시 서대문구
[('name', '홍길동'), ('age', 20), ('address', '서울시 서대문구')]

## 서술형

In [269]:
# 1
["orange", "banana"]

# 2
3

# 3
[2,]

# 4
extend

# 5
[0,1,0,3,0,5,0,7,0,9]

# 6
[5,1,6,3,7,5,8,7,9,9]

# 7
[0, 1, 1, 3, 2, 5, 3, 7, 4, 9]

# 8
1

# 9
apple
banana
orange

# 10
3

# 11 
def

[]

In [317]:
# 5. 짝수번째 데이터를 모두 0으로 바꾸는게 아니고 출력만 하려면
numbers = [1,2,3,4,5,6,7,8,9,10]
print([numbers[idx] if idx%2!=0 else 0 for idx in range(len(numbers))])
print(numbers)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]