In [217]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:85% !important;}
div.cell.code_cell.rendered{width:100%;}
div.input_prompt{padding:0px;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:15pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font color="red" size="5">ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n
```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [218]:
# 함수 정의
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [219]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [220]:
my_msg = my_message
my_msg(3, 'hello')

hello
hello
hello

In [221]:
type(my_msg), type(my_message)

(function, function)

In [222]:
print('Hello') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [223]:
my_message(2, 'Hello')

Hello
Hello

In [224]:
my_message = 5

In [225]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [ ]:
del my_message
# 변수를 삭제해도 함수 사용불가(파이썬 내장함수가 아니라서)

In [ ]:
my_message(2, 'Hello')

In [ ]:
# 함수 정의 : 4월16일(수)
def my_hello():
    print('Hello, Python')
    print('Hello, World')
    print(__name__)
# def my_hello(*cnt):         ## python은 오버로딩 할때 *붙여야 된다.
#     for i in range(cnt) :
#         print('Hello, Python')
#         print('Hello, World')

In [ ]:
# 함수사용=함수호출
my_hello()

In [ ]:
my_hello

In [ ]:
__name__

In [ ]:
if __name__ == '__main__' :
    my_hello(2)

In [ ]:
# def my_hello(cnt):
#     for i in range(cnt) :
#         print('Hello, Python')
#         print('Hello, World')
        
# if __name__ == "__main__" :   ## __name__은 호출될때 __main__으로 호출된다.
#     my_hello(2)

import ch05  # ch05 모듈을 load

In [ ]:
ch05.my_hello(2)

In [ ]:
from ch05 import my_hello # ch05 모듈 안의 my_hello load
my_hello(2)

## 1.2 docstring

In [ ]:
def my_function():
    '''
    함수의 첫라인에 닥스트링을 포함할 수 있습니다.
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [ ]:
print(my_function.__doc__)

In [ ]:
def fibonacci(n) :
    a, b = 0, 1
    while a < n : 
        print(a, end=' ')
        a, b = b, a+b
    print()
fibonacci(4)
# 함수 안에 있는 변수는 함수 밖에서 호출 할 수 없다.

## 1.3 지역변수(local var)와 전역변수(global var)

In [ ]:
global_var = 100 # 전역변수
def func1() :
    print('함수 안 : ', global_var)
func1()
print('함수 밖 : ', global_var)

In [ ]:
def func2() :
    local_var = 200 # 지역변수
    print('함수 안 : ', local_var)
func2()
print('함수 밖 : ', local_var)

In [ ]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200
    print('함수 안 :', g_var)
func3()
print('함수 밖 :', g_var)

In [ ]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
func4()

In [ ]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    global g_var
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

## 1.4 값에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형) 일 때

In [ ]:
foo = 3
id(foo)

In [ ]:
def func1(f) : # 매개변수 f는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f = f * 3
    print('After :', f, 'id(f) :', id(f))
func1(foo)

In [ ]:
print(foo, id(foo))

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 전달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [ ]:
L = [1, 2, 3]
id(L)

In [ ]:
def func2(f) : # 매개변수는 지역변수
    print('Before :', f, 'id(f) :', id(f))
    f.append(4)
    print('After :', f, 'id(f) :', id(f))
func2(L)

In [ ]:
print('L = ', L, id(L))

# 2절. 함수의 실행결과를 반환하는 return

In [ ]:
# return이 없거나, pass 를 쓸 경우 None을 받는다.
def fibonacci_print(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex) n = 10 이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a < n : 
        print(a, end=' ')
        a, b = b, a+b
    print() # 개행

def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex) n = 10 이면 [ 0 1 1 2 3 5 8 ] 을 return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
x = fibonacci_print(100)
print(x)

In [ ]:
x = fibonacci_return(10)
print(x)
print(type(x))

## 여러개 값 return

In [ ]:
# 튜플로 패킹되어 return 됨.
def swap(a, b) : 
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [ ]:
x, y = 10, 11
print(f'함수 실행 전 x={x} y={y}')
x, y = swap(x,y)
print(f'함수 실행 후 x={x} y={y}')
print(type(swap(a,b)))

# 3절 . 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [ ]:
def make_url(ip, port=80): # 순서 인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [ ]:
print(make_url("naver.com"))
print(make_url("localhost", 8080))
print(make_url(port=8090, ip='localhost'))

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [ ]:
# 함수에 스칼라 변수의 값을 매개변수의 기본값으로 할당 시 함수선언 시점의 변수 값이 기본값이 된다.
i = 5
l = []
def func2(arg=i) :
    print('arg =', arg)

In [ ]:
i = 10

In [ ]:
func2()

In [ ]:
list_ = []
# 기본값을 갖는 변수가 객체(데이터구조)일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L=list_) :
    'data를 L에 append'
    L.append(data)
    return L

In [ ]:
print(func3(10)) # list_가 수정 : [10]

In [ ]:
print(func3(20))

In [ ]:
list_

In [ ]:
def func4(data, L=None) :
    if L==None:
        L = []
    L.append(data)
    return L

In [ ]:
print(func4(10))
print(func4(10, list_))
print(func4(20))

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음.
def add(a, b):
    return a+b
def add(a, b, c):
    return a+b+c

In [ ]:
add(1, 2, 3)

In [ ]:
# *args: 매개변수들을 하나의 튜플 변수 args 로 전달 받음
def add(*args):
    '전달받은 매개변수들의 합을 return'
#     print(type(args))
#     print(args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [ ]:
print(add(1))
print(add(1,2,3))

In [ ]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

In [ ]:
def concat(*str, sep) :
    return sep.join(subject)

In [ ]:
concat('Python', 'Oracle', 'DL', 'ML', '/')
# => Python/Oracle/DL/ML

In [ ]:
# 해결책 1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

In [ ]:
# 해결책 2 : 기본값을 반드시 갖는 키워드 인수 사용. 키워드 명시를 해야 키워드 인수라고 한다.
def concat(*subject, sep=' ~ '):
    return sep.join(subject)

In [ ]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

In [ ]:
# 해결책 3 : sep을 순서인수로 앞에 선언. default 값 설정이 무의미해짐.
def concat(sep=' ~ ', *subject):
    return sep.join(subject)

In [ ]:
concat( '/', 'Python', 'Oracle', 'DL')

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [ ]:
def func5(**kwArgs) :
    print(kwArgs)
    print(type(kwArgs))
    print('이름 : ', kwArgs.get('name', '최장호'))
    print('나이 : ', kwArgs.get('age', 27))
    print('주소 : ', kwArgs.get('address', '서울'))

In [ ]:
func5(name='홍길동', age=30, address='신림동')

In [ ]:
func5(name='김길동')

## 3.5 함수 정의시 매개변수 순서
- 순서인수(기본) > 튜플 매개변수(*arg) > 키워드인수(sep='/') > 딕셔너리 매개변수(**arg)
    - 튜플매개변수 : 매개변수가 가변 개수가 됨.
    - 딕셔너리매개변수 : 키워드 인수를 딕셔너리 형태로 받아 가변 키워드 인수가 됨. ex)name='홍길동', age=30

In [227]:
def func6(a, b, *c, **d) : 
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('딕셔너리 인수 d :', d)

In [229]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍길동', age=30, address='서울')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [231]:
def func7(a, b, *c, d='기본값', **e) : 
    print('순서인수 a :', a) 
    print('순서인수 b :', b) 
    print('튜플인수 c :', c) 
    print('키워드인수(매개변수 명시 필수!) d :', d) 
    print('딕셔너리인수 e :', e)

In [235]:
func7(10, 20, 1,2,3, d='test',fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(매개변수 명시 필수!) d : test
딕셔너리인수 e : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹  (인수 == 언패킹)
### 튜플 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플 매개변수)

In [239]:
def add(*args) :
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [240]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [248]:
numbers = [1, 2, 3, 4]
add(*numbers)   # 언패킹

(1, 2, 3, 4)

10

In [249]:
numbers = (1,2,3,4)
add(*numbers)   # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 ** 붙임
- 패킹 : 함수 정의시 매개변수 앞에 ** 붙임(딕셔너리 매개변수)

In [250]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [252]:
func5(name='홍길동', age=30, address='신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [255]:
customInfo = {'name':'홍길동', 'age':30, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 작은 익명함수

## 4.1 람다식 연습

In [265]:
def add(a, b) :
    return a+b
add(3 ,4)

7

In [266]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [268]:
type(add), type(add2)

(function, function)

In [269]:
(lambda a, b : a+b)(3,4)

7

In [284]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10)

'짝수'

In [287]:
# ex2. 두 매개변수의 차이를 return
ex2 = lambda a,b : a-b if a>b else b-a
ex2(3,4)

1

In [299]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money, price : money - price if money-price > 0 else 'negative'
ex3(1000, 2000)

'negative'

In [321]:
# ex4. 점수를 입력받아 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 
# 그외는 유효하지 않음
ex4 = lambda score : "A팀" if 80 <= score <= 100 else \
                    "B팀" if 60 <= score < 80  else \
                    "재시험" if 0<= score < 60  else \
                    "유효X"
ex4(120), ex4(90)

('유효X', 'A팀')

In [323]:
# ex5. safe_index를 람다식으로
def safe_index(vector, data) :
    if data in vector: # lst 안에 data 있는지 여부
        return vector.index(data)
    else :
        return -1
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 10), ex5(tup, 1)

(-1, 0)