In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

# 1. 데이터 가져오기

In [8]:
import pandas as pd
df = pd.read_csv('c:/ai_x/download/shareData/부동산_250213/최종전국평당분양가격(결측치제외).csv',
                encoding='cp949')
df.head()

  지역명    연도   월   평당분양가격
0  서울  2013  12  18189.0
1  부산  2013  12   8111.0
2  대구  2013  12   8080.0
3  인천  2013  12  10204.0
4  광주  2013  12   6098.0

# 2. 지역명의 라벨 인코딩
- 지역명을 라벨인코딩한 지역명2(분석할 경우 원핫인코딩까지 할 것을 추천)

In [17]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
labeled_data = le.fit_transform(df['지역명'])
len(labeled_data)
df['지역명2'] = labeled_data

# 3. normalization 스케일 조정
- 입력변수(지역명2, 연도, 월)와 타겟변수(평당 분양가격) 따로 스케일 조정(MinMaxScaler 이용)
- 지역명2n, 연도n, 월n필드 추가

In [18]:
# 전체내용 : df
# 독립변수를 넘파이배열로 : df[['지역명2', '연도', '월']].values
# 종속변수를 넘파이배열로 : df[['평당분양가격']].values
X_data = df[['지역명2', '연도', '월']].values
y_data = df[['평당분양가격']].values

# 4. standarizatino 스케일 조정
- 입력변수와 타겟변수 따로 스케일 조정(StandardScaler이용)
- 지역명2s,연도s, 월s필드 추가

<bound method DataFrame.info of      지역명    연도   월   평당분양가격
0     서울  2013  12  18189.0
1     부산  2013  12   8111.0
2     대구  2013  12   8080.0
3     인천  2013  12  10204.0
4     광주  2013  12   6098.0
...   ..   ...  ..      ...
2171  전북  2024   8  12058.2
2172  전남  2024   8  13120.8
2173  경북  2024   8  13827.0
2174  경남  2024   8  13252.8
2175  제주  2024   8  25419.9

[2176 rows x 4 columns]>