In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

# 1. 데이터 가져오기

In [2]:
import pandas as pd
df = pd.read_csv('c:/ai_x/download/shareData/부동산_250213/최종전국평당분양가격(결측치제외).csv',
                encoding='cp949')
df.head()

  지역명    연도   월   평당분양가격
0  서울  2013  12  18189.0
1  부산  2013  12   8111.0
2  대구  2013  12   8080.0
3  인천  2013  12  10204.0
4  광주  2013  12   6098.0

# 2. 지역명의 라벨 인코딩
- 지역명을 라벨인코딩한 지역명2(분석할 경우 원핫인코딩까지 할 것을 추천)

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
labeled_data = le.fit_transform(df['지역명'])
df['지역명2'] = labeled_data
print(df['지역명'].value_counts())
print(df['지역명2'].value_counts())

서울    128
강원    128
경남    128
경북    128
전남    128
전북    128
충남    128
충북    128
세종    128
부산    128
경기    128
울산    128
대전    128
광주    128
인천    128
대구    128
제주    128
Name: 지역명, dtype: int64
8     128
0     128
2     128
3     128
12    128
13    128
15    128
16    128
9     128
7     128
1     128
10    128
6     128
4     128
11    128
5     128
14    128
Name: 지역명2, dtype: int64

# 3. normalization 스케일 조정
- 입력변수(지역명2, 연도, 월)와 타겟변수(평당 분양가격) 따로 스케일 조정(MinMaxScaler 이용)
- 지역명2n, 연도n, 월n필드, 평당분양가격n 추가

In [35]:
# 전체내용 : df
# 독립변수를 넘파이배열로 : df[['지역명2', '연도', '월']].values
# 종속변수를 넘파이배열로 : df[['평당분양가격']].values
X_data = df[['지역명2', '연도', '월']].values
y_data = df[['평당분양가격']].values

from sklearn.preprocessing import MinMaxScaler

scaler_x = MinMaxScaler() # x_data를 정규화 시킬 객체
scaled_x_data = scaler_x.fit_transform(X_data)
scaler_y = MinMaxScaler() # y_data를 정규화 시킬 객체
scaled_y_data = scaler_y.fit_transform(y_data)
np.column_stack([X_data, y_data])
np.column_stack([scaled_x_data, scaled_y_data])
df[['지역명2n', '연도n', '월n']] = scaled_x_data
df['평당분양가격n'] = scaled_y_data # 2차원 데이터지만 1열이므로 1차원 데이터에 넣을 수 있음. 
                                  # y_data.tolist 또는 series 로 변환해서 넣어도 됨.

# 4. standarization 스케일 조정
- 입력변수와 타겟변수 따로 스케일 조정(StandardScaler이용)
- 지역명2s,연도s, 월s필드, 평당분양가격s 추가

In [36]:
X_data = df[['지역명2', '연도', '월']].values
y_data = df[['평당분양가격']].values

from sklearn.preprocessing import StandardScaler

scaler_x = StandardScaler() # x_data를 표준화 시킬 객체
scaler_y = StandardScaler() # y_data를 표준화 시킬 객체
df[['지역명2s', '연도s', '월s']] = scaler_x.fit_transform(X_data)
df['평당분양가격s'] = scaler_y.fit_transform(y_data)
df

,지역명,연도,월,평당분양가격,지역명2,지역명2n,연도n,월n,평당분양가격n,지역명2s,연도s,월s,평당분양가격s
0,서울,2013,12,18189.0,8,0.5000,0.0,1.000000,0.328198,0.000000,-1.875367,1.62196,1.168591
1,부산,2013,12,8111.0,7,0.4375,0.0,1.000000,0.065274,-0.204124,-1.875367,1.62196,-0.728312
2,대구,2013,12,8080.0,5,0.3125,0.0,1.000000,0.064466,-0.612372,-1.875367,1.62196,-0.734147
3,인천,2013,12,10204.0,11,0.6875,0.0,1.000000,0.119878,0.612372,-1.875367,1.62196,-0.334363
4,광주,2013,12,6098.0,4,0.2500,0.0,1.000000,0.012757,-0.816497,-1.875367,1.62196,-1.107203
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2171,전북,2024,8,12058.2,13,0.8125,1.0,0.636364,0.168252,1.020621,1.664199,0.46374,0.014639
2172,전남,2024,8,13120.8,12,0.7500,1.0,0.636364,0.195974,0.816497,1.664199,0.46374,0.214643
2173,경북,2024,8,13827.0,3,0.1875,1.0,0.636364,0.214398,-1.020621,1.664199,0.46374,0.347566
2174,경남,2024,8,13252.8,2,0.1250,1.0,0.636364,0.199418,-1.224745,1.664199,0.46374,0.239489
2175,제주,2024,8,25419.9,14,0.8750,1.0,0.636364,0.516844,1.224745,1.664199,0.46374,2.529607

# 5. 지역명을 원핫인코딩

In [37]:
from tensorflow.keras.utils import to_categorical
to_categorical(df['지역명2'])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]], dtype=float32)

In [51]:
# 지역명, 지역명2
loc_info = df[['지역명', '지역명2']].head(17).sort_values(by='지역명2')
loc_column_names = loc_info['지역명'].tolist()
loc_column_names

['강원',
 '경기',
 '경남',
 '경북',
 '광주',
 '대구',
 '대전',
 '부산',
 '서울',
 '세종',
 '울산',
 '인천',
 '전남',
 '전북',
 '제주',
 '충남',
 '충북']

In [53]:
import numpy as np
df[loc_column_names] = to_categorical(df['지역명2']).astype(np.int16)
df.head()

,지역명,연도,월,평당분양가격,지역명2,지역명2n,연도n,월n,평당분양가격n,지역명2s,...,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,서울,2013,12,18189.0,8,0.5000,0.0,1.0,0.328198,0.000000,...,0,1,0,0,0,0,0,0,0,0
1,부산,2013,12,8111.0,7,0.4375,0.0,1.0,0.065274,-0.204124,...,1,0,0,0,0,0,0,0,0,0
2,대구,2013,12,8080.0,5,0.3125,0.0,1.0,0.064466,-0.612372,...,0,0,0,0,0,0,0,0,0,0
3,인천,2013,12,10204.0,11,0.6875,0.0,1.0,0.119878,0.612372,...,0,0,0,0,1,0,0,0,0,0
4,광주,2013,12,6098.0,4,0.2500,0.0,1.0,0.012757,-0.816497,...,0,0,0,0,0,0,0,0,0,0

In [57]:
pd.options.display.max_columns = 30 # 최대 출력 가능한 데이터프레임 열수
df.head()

,지역명,연도,월,평당분양가격,지역명2,지역명2n,연도n,월n,평당분양가격n,지역명2s,연도s,월s,평당분양가격s,강원,경기,경남,경북,광주,대구,대전,부산,서울,세종,울산,인천,전남,전북,제주,충남,충북
0,서울,2013,12,18189.0,8,0.5000,0.0,1.0,0.328198,0.000000,-1.875367,1.62196,1.168591,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
1,부산,2013,12,8111.0,7,0.4375,0.0,1.0,0.065274,-0.204124,-1.875367,1.62196,-0.728312,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,대구,2013,12,8080.0,5,0.3125,0.0,1.0,0.064466,-0.612372,-1.875367,1.62196,-0.734147,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,인천,2013,12,10204.0,11,0.6875,0.0,1.0,0.119878,0.612372,-1.875367,1.62196,-0.334363,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,광주,2013,12,6098.0,4,0.2500,0.0,1.0,0.012757,-0.816497,-1.875367,1.62196,-1.107203,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0