In [4]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수 선언을 위한 과정이 없다. 할당과 동시에 타입이 지정되고 값이 할당 됨.

## 1.1 변수 할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장

In [ ]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는 " ,area)

In [ ]:
import numpy as np
area = np.pi * r * r
print('area =', area)

In [ ]:
area.is_integer() # area가 integer 인지 여부 반환

In [ ]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

In [ ]:
area = 5.5
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

In [ ]:
area = 10
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

In [ ]:
area = "파이썬"

In [ ]:
print('area의 주소 :', id(area)) #id(area) : area 변수의 주소값
print('area의 타입 :', type(area))

## 1.2 변수 이름 규칙
- 문자로 시작 ( 숫자 시작 불가)
- 문자, 숫자, _로 변수명 작성
- 함수명은 변수이름으로 가능하나 피한다. 써야한다면 int_식으로 _를 이용
- 파이썬 예약어(for, ..)는 변수이름 사용 불가
- 한글는 꼭 필요시에만 이용

In [ ]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [ ]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 강력비추
print(Print)

In [ ]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수 (j)
i = 3 + 3j # 복소수
type(i)

In [ ]:
isinstance(i, complex) # i변수(객체)가 complex 인지 여부

## 1.3 도움말

In [ ]:
help(print)

In [ ]:
help() # help를 빠져나오려면 q입력

In [ ]:
# 도움말 기능 : shift + tab키
print()

In [ ]:
def add(x, y=0):
    '''
    매개변수 2개를 받아 두자리 숫자로 만들어요
    x 에 10을 곱하고 y의 값을 추가한다.
    사용법 : add(2, 3) => 23
    '''
    return x*10 + y

In [ ]:
a = add
a(2, 3)

## 1.4 다중 변수 할당

In [ ]:
a = 10
b = 20

In [ ]:
a, b = 10, 20
print(a, b)

In [ ]:
a, b = b, a+b # 다중 변수 할당 시 순차적 할당이 아니고, 일괄 동시 할당
print(a,b)

# 2절. 화면 입출력 (i/o)

In [2]:
# input() : 사용자로부터 값을 입력받기 위한 함수
first = input()
first

5

'5'

In [3]:
second = input('두번째 숫자는?')

두번째 숫자는?2

In [5]:
sum = int(first) + int(second)
print('합:', sum)

합: 7

In [22]:
first = int(input('첫번째 수는?'))
second = int(input('두번째 수는?'))
sum = first + second
print('합', sum, sep='=')

첫번째 수는?1
두번째 수는?2
합=3

In [25]:
print('합', sum, sep='=', end=' / ')
print('합', sum, sep='=')

합=3 / 합=3

In [26]:
import sys
print('hello', 'world', sep=", ", file=sys.stdout)

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [29]:
import sys
sys.maxsize # 정수의 초대값 2의 63제곱-1 (2**63 -1)

9223372036854775807

In [45]:
i = sys.maxsize * 10
i
f = 4/2 # 정수/정수 는 무조건 실수
f

2.0

In [44]:
# 자바처럼 정수/정수의 결과를 정수로
f = 4//2 #몫 연산자
print(f)
f = int(4/2)
print(f)

2
2

In [46]:
c = 1j # 수학시간의 0+1i
print(c**2)

(-1+0j)

In [59]:
f = 1.12e12 # 1.12의 10의 12제곱
print('지수형 표현 할당시 실수형으로 저장 :', f)
f = 1.12e-12
print('지수형 표현 할당시 실수형으로 저장 :', f)

지수형 표현 할당시 실수형으로 저장 : 1120000000000.0
지수형 표현 할당시 실수형으로 저장 : 1.12e-12

## 3.2 문자형
쌍따옴표("-")나 홑따옴표('-') 이용

In [69]:
name = "홍길동\"짱\"" # 홍길동"짱"
print(name)
name = '홍길동"짱"'
print(name)
address = "서울시 관악구 '신길동'" # 서울시 관악구 '신길동'
print(address)

홍길동"짱"
홍길동"짱"
서울시 관악구 '신길동'

In [68]:
# 문자형 변수 여러줄
text = '''여러줄 짜리 내용 
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요'''
print(text)

여러줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많아요

### ※ 문자열 연산

In [72]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 최장호
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1 + name2)

홍길동동해 번쩍 서해 번쩍

In [73]:
print(name1 * 3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [78]:
print(r'Hello\nWorld') # r쓰면 raw데이터 그대로 쓸 수 있다.
print('Hello\\nWorld')

Hello\nWorld
Hello\nWorld

정규표현식
```(마크업 셀에서 백틱은 블록을 만들 때 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일)
    \D (숫자가 아닌것)
    \w (영문자나 숫자, [a-zA-z0-9])
    \W (영문자나 숫자가 아닌 문자)
    . (문자 1개)
    \. (.의미)
    \- (-의미)
    {2, 4} (2~4번 반복) 앞의 수가 작아야 함.
    {4}    (4번 반복)
    {2,}   (2번 이상 반복)
    +      (1번 이상 반복)
    *      (0번 이상 반복)
    ?      (1번 있거나 아에 없거나)
    []     (또는)
3. 정규표현식 연습장 (https://regexr.com/)
    ex) [0-9]{2,3}-\d{3,4}-\d{4}
        \d{2,3}
```