In [69]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 5절. 연산자
## 5.1 산술 연산자 : +, -, *, /, //(몫연산자), %(나머지), **(제곱)

In [2]:
print('10의 5제곱 : ', 10**5)
print('4/2(결과 실수) : ', 4/2)
print('4//2(몫) :', 4//2)
print('4%2(나머지) :', 4%2)

10의 5제곱 :  100000
4/2(결과 실수) :  2.0
4//2(몫) : 2
4%2(나머지) : 0

In [3]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input("정수를 입력하세요"))
result = num%2
if result : 
    temp = "홀수"
else : 
    temp = "짝수"
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}입니다. {temp}입니다.")

정수를 입력하세요1
입력하신 수는 1, 2로 나눈 나머지는 1입니다. 홀수입니다.

In [4]:
num2 = int(input("정수 입력하세요"))
result2 = num2 % 5
if result2 :
    temp = "아닙니다."
else :
    temp = "맞습니다."
print(f"입력하신 수는 {num2}, 5의 배수가 {temp}")

정수 입력하세요2
입력하신 수는 2, 5의 배수가 아닙니다.

In [5]:
kor = 99
# int(input("국어 점수 입력"))
eng = 100
# int(input("영어 점수 입력"))
math = 99
# int(input("수학 점수 입력"))
total = kor + eng + math
avg = total / 3
# 숫자는 기본적으로 오른쪽 정렬
print(f"국어:{kor:3d} \t 영어:{eng:3d} \t 수학:{math:3d} \n총점:{total:3d} \t 평균:{avg:5.1f}")

국어: 99 	 영어:100 	 수학: 99
총점:298 	 평균: 99.3

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [6]:
a = 10
a += 5 # a = a + 5
print('5더하기 :', a)

5더하기 : 15

In [7]:
a -= 5 # a = a - 5
print('5빼기: ', a)
a *= 5 # a = a * 5
print('5곱하기: ', a)

5빼기:  10
5곱하기:  50

## 5.3 논리연산자 : & = and,     | = or,    not

In [8]:
# & 논리연산
print( (10>3) & (10>5) ) # 논리연산 True & True
print( 12 & 1)  # 비트연산

True
0

In [9]:
# and : False로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환
print(True and 1 and 3)
print(0 and True)
print(True and 'abc')

3
0
abc

In [10]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 때) : 3

In [11]:
# or : 논리연산, 참으로 판별되는 첫번째 항을 반환
#      모든 항이 거짓이면, 마지막항을 반환
print(False or False or None)
print('Hong' or ' ' or False)

None
Hong

## 5.4 비교 연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [12]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print( (4<x) & (x<10) )
print(4 < x < 10)

True
True

In [13]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮다.
print( (10>5) & (10>7))
print( 10 > 5 & 10 > 7) # 0101
                        # 1010
print( 10 > 0 > 7)
print( 10 > 5 and 10 > 7)

True
False
False
True

In [14]:
address = '서울'
age = 29
#print( address == "서울" & age >= 30)  &가 ==, >= 보다 우선순위가 높다. 그래서 에러남.
print( (address == "서울") & (age >= 30))

False

In [15]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
# 비교는 문자 순서대로 (첫번째 숫자끼리 비교, 2번째 숫자끼리 비교)
'scott' < "tiger"

True

In [16]:
'9' > '10'

True

In [17]:
'김길동가가가' < '홍길동'

True

In [18]:
## 5.5 비트 연산자 &, |, ^(XOR), ~

In [19]:
# x  y  x&y  x^y
# 0  0   0    0
# 0  1   0    1
# 1  0   0    1
# 1  1   1    0

In [20]:
a = 15 # 1111
b = 2  # 0010
print(" a = {0:2} : {0:04b}".format(a))
print(" b = {0:2} : {0:04b}".format(b))
print(" a^b = {0:2} : {0:04b}".format(a^b))

 a = 15 : 1111
 b =  2 : 0010
 a^b = 13 : 1101

- 연산자
    - 산술 연산 : + - * / // % **
    - 할당 연산 : = += -= *= /= //= %=
    - 논리 연산 : & and | or not
    - 비트 연산 : > >= < <= == !=
    - 비교 연산 : & | ^
    - &와 |은 비교연산자보다 우선순위가 높다.

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수[from:stop:step]
- len(문자열변수) : 문자 길이

- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 첫글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을 문자열') : '찾을 문자열'이 몇개 들어있는지 개수 반환
- find('찾을 문자열') : '찾을 문자열'이 왼쪽부터 시작하여 인덱스 반환
- rfind('찾을 문자열') : '찾을 문자열'이 오른쪽부터 시작하여 인덱스 반환
        **찾을 문자열이 없으면 -1을 반환**
    cf) index('찾을 문자열') -> 찾을 문자열 없으면 에러 반환.
- startswith('특정 문자열') : 특정 문자열로 시작하는지 여부
- endswith('특정 문자열') : 특정 문자열로 끝나는지 여부
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자 문자열인지 여부
- islower() : 소문자 문자열인지 여부
- isupper() : 대문자 문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경
- split(구분자) : 구분자를 이용해 문자 분리
- join(리스트) : 리스트를 연결

In [21]:
temp = "python is easy. pYthon is smart. python"
print('1. len 글자수 :', len(temp))
print('2. upper 대문자로 :', temp.upper())
print('3. lower 소문자로 :', temp.lower())
print('4. title :', temp.title())
print('5. capitalize :', temp.capitalize())
print('6. count , 찾을 문자열 몇개 있는지 :', temp.count('python'))
print('7. count , 찾을 문자열 대소문자 구분없이 :', temp.lower().count('python'))
print('7. count , 찾을 문자열 대소문자 구분없이 :', temp.upper().count('PYTHON'))
print('7. count , 찾을 문자열 대소문자 구분없이 :', temp.title().count('Python'))
print('8. find , python이 나오는 첫 index 위치 :', temp.find('python'))
print('8. rfind , python이 나오는 마지막 index 위치 :', temp.rfind('python'))
print('8. rfind , java 나오는 마지막 index 위치 :', temp.rfind('java'))
# print('8. index, java 나오는 마지막 index 위치 :', temp.index('java'))
print('9. python으로 시작하는지 여부 :', temp.startswith('python'))
print('10. python으로 끝나는지 여부 :', temp.endswith('python'))

1. len 글자수 : 39
2. upper 대문자로 : PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. lower 소문자로 : python is easy. python is smart. python
4. title : Python Is Easy. Python Is Smart. Python
5. capitalize : Python is easy. python is smart. python
6. count , 찾을 문자열 몇개 있는지 : 2
7. count , 찾을 문자열 대소문자 구분없이 : 3
7. count , 찾을 문자열 대소문자 구분없이 : 3
7. count , 찾을 문자열 대소문자 구분없이 : 3
8. find , python이 나오는 첫 index 위치 : 0
8. rfind , python이 나오는 마지막 index 위치 : 33
8. rfind , java 나오는 마지막 index 위치 : -1
9. python으로 시작하는지 여부 : True
10. python으로 끝나는지 여부 : True

In [22]:
temp = '      Python is easy.     '
notdigit = "1,000,000"
num_str = "1000"
print('11. 좌우공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 : ', notdigit.isdigit())
print('13. 소문자문자열인지 : ', temp.islower())
print('13. 대문자문자열인지 : ', temp.isupper())
print('14. , 제거 : ', notdigit.replace(',',''))
print('14. , 제거 : ', num_str.replace(',', ''))

11. 좌우공백제거 : [Python is easy.]
11. 좌측공백제거 : [Python is easy.     ]
11. 우측공백제거 : [      Python is easy.]
12. 숫자문자열인지 :  False
13. 소문자문자열인지 :  False
13. 대문자문자열인지 :  False
14. , 제거 :  1000000
14. , 제거 :  1000

In [23]:
temp = "홍길동  김길동   신길똥     유길동"
print("space 단위로 temp를 분리 : ", temp.split()) # 기본이 space 단위로 분리

space 단위로 temp를 분리 :  ['홍길동', '김길동', '신길똥', '유길동']

In [24]:
temp.split(" ")

['홍길동', '', '김길동', '', '', '신길똥', '', '', '', '', '유길동']

In [25]:
data = "2025-04-10"
print(' - 단위로 data를 분리(결과 : list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [26]:
# ' - ' -> '/' 로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
# temp.replace(' - ', '/')
print('원 데이터 :', temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 :', splited_temp)  # type = list
joined_temp = '/'.join(splited_temp)
print('join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 : ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 : Python/HTML/CSS/JavaScript/DBMS

In [27]:
str_ = 'ABC' # 문자도 인덱스가 있다. 
# str_ = ['A', 'B', 'C']

In [28]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜, 날짜시간 다루기

In [8]:
import datetime
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [9]:
# datetime모듈(datetime.py) 안의 datetime, date, time을 import 
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [11]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [23]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환
print("{:%Y년%m월%d일 %p %I시%M분 %S초}".format(thatday))
print(thatday.strftime("%Y년%m월%d일(%A) %p %I시%M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일 AM 09시30분 00초
2025년04월07일(Monday) AM 09시30분 00초

In [25]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [30]:
now = datetime.now()
print(now.strftime("%y-%m%d(%A) %H:%M:%S"))

25-0411(금요일) 10:14:56

In [35]:
diff = now - thatday
diff.days

4

## 7.2 날짜

In [48]:
someday = date(2025, 9, 2)
someday

datetime.date(2025, 9, 2)

In [49]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월02일

In [50]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [47]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [56]:
diff = someday - today
diff.days

144

## 7.3 시간

In [65]:
# 특정 시간
t = time(13, 10)
print(t.strftime("%p %I시 %M분"))

오후 01시 10분

In [67]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 19, 918551)

In [68]:
now_time.strftime("%H시 %M분 %S초")

'10시 42분 19초'

**datetime, date, time 형들을 원하는 포맷의 문자형으로 반환 : strftime()**
- %Y, %y, %m, %d, %A(요일), %p(오전/오후), %H(24시), %I(12시), %M(분), %S(초)

# 8절. 연습문제

In [1]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#   [출력형식 : 홍길동님의 나이는 23 살입니다]
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
# 3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello 가 할당된 변수를 이용하여
# ‘World 로 출력하세요
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
# 6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
#    화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경우
#    소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . C 는 섭씨 , F 는 화씨)
#    C = (F - 32) / 1.8
#    F = (C * 1.8) + 32

In [4]:
# 1.이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
#   [출력형식 : 홍길동님의 나이는 23 살입니다]
name = "홍길동"
age = 23
print("{name}님의 나이는 {age} 살입니다.".format(name = name, 
                                                age = age))

홍길동님의 나이는 23 살입니다.

In [5]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
a = int(input("정수를 입력하세요"))
b = int(input("정수를 입력하세요"))
print("a + b = {}".format(a+b))
print("a - b = {}".format(a-b))
print("a * b = {}".format(a*b))
print("a / b = {}".format(a/b))
print("a // b = {}".format(a//b))
print("a % b = {}".format(a%b))

정수를 입력하세요1
정수를 입력하세요2
a + b = 3
a - b = -1
a * b = 2
a / b = 0.5
a // b = 0
a % b = 1

In [ ]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World' 가 할당된 변수를 이용하여 
# ‘World Hello' 로 출력하세요
str_ = "Hello World"
r_str_ = str_.split()
print(r_str_[1] + " " + r_str_[0])

In [33]:
# 4. x = 'abcdef＇를 이용하여 ‘bcdefa’로 출력하세요
x = 'abcdef'
print(x[1:]+x[0])
print(x[1:],x[0], sep='')

bcdefa

In [34]:
# 5. x = ‘abcdef' 를 이용하여 'fedcba' 로 출력하세요
x = 'abcdef'
x = x[::-1]
print(x)

fedcba

In [35]:
# 6.섭씨온도로 입력받아 화씨 온도로 변환
c = int(input('섭씨 온도를 입력하세요'))
f = (c*1.8)+32

# if f%1:
# if f - int(f):
# if f != int(f):
# temp = str(temperature_F).split('.')
# if temp[1]!='0':
if not f.is_integer():
    print("섭씨 {}도는 화씨온도로 바꾸면 {:.2f}도 입니다".format(c, f))
else:
    print("섭씨 {}도는 화씨온도로 바꾸면 {:.0f}도 입니다".format(c, f))

섭씨 형태의 온도를 입력하세요.11.11
입력한 섭씨온도 11.11 는 화씨온도  52.00 입니다.

In [36]:
# 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오 [1,2,3,4]
# ① for
# ② 10th
# ③ Student.name
# ④ _1234

In [37]:
# 8. 
# SeounSeoul
# Seou n Seoul
text = "Seoul A001 - programming with python"
print(text[:4]+text[-1]+text.split()[0])
print(text[:4], text[-1], text.split()[0])

SeounSeoul
Seou n Seoul

In [38]:
# 9. 2

In [39]:
# 10. 에러 - string + int 는 불가.
x = 5
y = "John"
print( x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# 11.
str_ = "우리 나라 대한 민국"
print(str_.split()[1])